body {
    background-color: khaki;
}
h1 {
    background-color: lawngreen;
    color: maroon;
    font-size: 100px;
    text-align: center;
}
.hay {
    background-color: lightgray;
    color:black;
    font-size: 50px;
    text-align: center;   
    border-radius: 20px;
}
.Lápices {
    background-color: lightseagreen;
    color:white;
    font-size: 30px;
    text-align: left;   
    border-radius: 10px;
}
.Cartucheras {
    background-color: lightpink;
    color:white;
    font-size: 30px;
    text-align: left;   
    border-radius: 10px;
}
.Mochilas {
    background-color: lightgreen;
    color:white;
    font-size: 30px;
    text-align: left;   
    border-radius: 10px;
}
.Cartulinas {
    background-color: lightcoral;
    color:white;
    font-size: 30px;
    text-align: left;   
    border-radius: 10px;
}

.Acua {
    background-color: lightslategrey;
    color:white;
    font-size: 30px;
    text-align: left;   
    border-radius: 10px;
}
.Reglas {
    background-color: blueviolet;
    color:white;
    font-size: 30px;
    text-align: left;   
    border-radius: 10px;
}
.Hojas {
    background-color: lightskyblue;
    color:white;
    font-size: 30px;
    text-align: left;   
    border-radius: 10px;
}
.Carpetas {
    background-color: black;
    color:white;
    font-size: 30px;
    text-align: left;   
    border-radius: 10px;
}